<div class="container">
    <h1>Novo Produto</h1>
    <form #productForm="ngForm" (ngSubmit)="onSubmit(); productForm.reset()">
      <div class="form-group">
        <label for="description">Descrição</label>
        <input type="text" class="form-control" id="description"
         required
         [(ngModel)]="product.description" name="description">
      </div>
  
      <div class="form-group">
        <label for="price">Preço</label>
        <input type="number" class="form-control" id="price"
        required
        [(ngModel)]="product.price" name="price">
      </div>
  
      <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">Salvar alterações</button>
    </form>
</div>
  
