<div class="container">
    <h1>Produto</h1>
    {{diagnostic}}
    <form #productForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="code">Código</label>
            <input type="text" class="form-control" id="code"
             required
             [(ngModel)]="product.code" name="code">
          </div>
      <div class="form-group">
        <label for="description">Descrição</label>
        <input type="text" class="form-control" id="description"
         required
         [(ngModel)]="product.description" name="description">
      </div>
  
      <div class="form-group">
        <label for="price">Preço</label>
        <input type="number" class="form-control" id="price"
        required
        [(ngModel)]="product.price" name="price">
      </div>
  
      <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">Salvar alterações</button>
      <button type="button" class="btn btn-success" (click)="inativate()" routerLink="/Inactiveproducts">Inativar Produto</button> 
    </form>

    <button (click)="goBack()">Voltar</button>  
</div>
